@media screen and (min-width: 485px) {
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

header, section, footer, aside, article, figure {
    display: block;
}

.container {
    width: 100%;
    background-color: white;
    margin: auto;
}

header {
    box-sizing: border-box;
    padding-top: 8em;
    padding-left: 0;
}

.lumi {
    width: auto;
    margin: auto;
    font-size: 3em;
}

.content {
    box-sizing: border-box;
    padding-left: 8em;
    width: 100%;
    float: none;
}

nav ul {
    text-align: auto;
    list-style: none;
    background-color: black;
    margin-bottom: 1em;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
}

nav a, nav a:link, nav a:visited {
    margin: auto;
    padding: .7em;
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

nav a:hover {
    color: white;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .7em;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p {
    box-sizing: border-box;
    margin: 0;
/*  padding-right: .9em;
    padding-left: .9em; */
    padding: 0 .0em;
}

footer {
    padding: 0.5em;
    background-color: black;
    color: white;
    clear: both;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    margin: auto;
}

.inner-footer {
    padding: 1.5em;
    background-color: black;
    color: white;
    clear: both;
    margin-top: 10px;
    font-size: 5px;
    text-align: center;
    margin: auto;
    width: auto;
}


.grid-container {
    padding: 1em;
    width: auto;
    float: none;
}

h3 {
    padding: 0;
    width: auto;
    padding-left: 9px;
}

.latte {
    padding: 1em;
    width: auto;
    float: none;
}
}